@media (min-width: 800px) {

    img,
    video {
        width: 75%;
    }
}

@media (max-width: 800px) {

    img,
    video {
        width: 100%;
    }
}

* {
    font-family: monospace;
}

img,
video,
table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 16px;
}

table {
    width: 90%;
}

body {
    background-color: #232329;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
}

nav {
    text-align: center;
}



h1 {
    font-size: 32px;
    color: pink;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #9a82fa;
}

h3 {
    color: rgb(180, 255, 197);
}

p,
table {
    color: white;
}

table {
    padding: 8px;
    border-radius: 4px;
    background-color: #3a3a42;
}

table>caption {
    font-weight: bold;
    text-decoration: underline;
}

a {
    color: pink;
}

a:hover {
    color: black;
    background-color: pink;
}

ul {
    color: white;
}

input[type=submit] {
    background-color: lightpink;
    padding: 8px;
    border-radius: 8px;
    font-size: medium;
    font-family: Verdana;
}

input[type=submit]:hover {
    background-color: hotpink;
}

#footer {
    padding: 16px;
    text-align: center;
    background-color: #141417;
}

#footer>div>a {
    padding: 8px;
    border-radius: 4px;
    background-color: #232329;
    font-family: monospace;
    font-size: 16px;
}

#resume_table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
}

.appName {
    color: rgb(180, 255, 197);
    text-align: center;
}

.degree {
    border: 8px #414148;
    border-style: inset;
    margin: auto;
    border-radius: 24px;
    background-color: #414148;
    width: 400px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab {
    padding: 16px;
    border-radius: 4px;
    font-family: monospace;
    font-size: 16px;
}

.tab:hover {
    background-color: #141417;
    color: white;
}

#brookeclaroni {
    text-decoration: none;
    padding: 16px;
}

#brookeclaroni:hover {
    background-color: #232329;
}

#brookeclaroni>h1:hover {
    color: hotpink;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 50vh 0 50vh #141417;
}

.footer-container>a {
    padding: 8px;
    border-radius: 4px;
    background-color: #232329;
    font-family: monospace;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper>div {
    padding: 16px;
}

.home-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.home-wrapper>div {
    padding: 16px;
}