
@media (min-width: 800px) {
    img, video {
        width:30%;
    }
}

@media (max-width: 800px) {
    img, video {
        width:50%;
    }
}

@media (max-width: 400px) {
    img, video {
        width:100%;
    }
}

* {
    font-family: monospace;
}

img, video, table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 16px;
}

table {
    width:90%;
}

body {
    background-color: #232329;
}

nav {
    text-align: center;
}

nav > a {
    padding:8px;
    border-radius:4px;
    background-color: #141417;
    font-family: monospace;
    font-size: 16px;
}

h1 {
    font-size: 32px;
    color: #82f0fa;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #9a82fa;
}

h3 {
    color: rgb(180, 255, 197);
}

p, table {
    color: white;
}

table {
    padding:8px;
    border-radius:4px;
    background-color: #3a3a42;
}

table > caption {
    font-weight: bold;
    text-decoration: underline;
}

a {
    color: pink;
}

a:hover {
    color:black;
    background-color:pink;
}

ul {
    color: white;
}

input[type=submit] {
    background-color: lightpink;
    padding: 8px;
    border-radius: 8px;
    font-size: medium;
    font-family: Verdana;
}

input[type=submit]:hover {
    background-color: hotpink;
}

#footer {
    text-align: center;
    background-color:#141417;
}

#row1 {
    background-color:#323236;
}

#row2 {
    background-color:#29292d;
}

#resume_table {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    border-spacing:20px;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 8px;
}

.appName {
    color: rgb(180, 255, 197);
    text-align: center;
}

.degree {
    border:8px #414148 ;
    border-style: inset;
    margin: auto;
    border-radius: 24px;
    background-color: #414148;
    width: 400px;
    text-align: center;
}